################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Take5Demo/FileContentIndex/1c9620ba-e8ad-426d-b33e-c1f8135b7342.vsidx
/.vs/Take5Demo/FileContentIndex
